<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gold or Money.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>291C33D61C5DDF0800DB0969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291C33EA1C5DDF0800DB0969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291C33F51C5DDF0800DB0969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
